UPDATE login_providers
SET authorization_parameters = '{
  "authorize_endpoint": "https://esignet.{{domain}}/authorize",
  "token_endpoint": "https://esignet.{{domain}}/v1/esignet/oauth/v2/token",
  "validate_endpoint": "https://esignet.{{domain}}/v1/esignet/oidc/userinfo",
  "jwks_endpoint": "https://esignet.{{domain}}/v1/esignet/oauth/.well-known/jwks.json",
  "client_id": "sparclientid",
  "client_assertion_type": "urn:ietf:params:oauth:client-assertion-type:jwt-bearer",
  "client_assertion_jwk": {{client_assertion_jwk | to_json }},
  "response_type": "code",
  "scope": "openid profile email",
  "redirect_uri": "https://spar.{{domain}}/spar/v1/oauth2/callback",
  "code_verifier": "_cHemmb3ZJIeSNj7ND1agM-G4HgmenFxPp3l-vnRKDU",
  "extra_authorize_parameters": {
    "acr_values":"mosip:idp:acr:generated-code mosip:idp:acr:biometrics mosip:idp:acr:linked-wallet",
    "claims": "{\"userinfo\":{\"name\":{\"essential\":true},\"phone_number\":{\"essential\":false},\"email\":{\"essential\":false},\"gender\":{\"essential\":true},\"birthdate\":{\"essential\":true},\"address\":{\"essential\":false},\"picture\":{\"essential\":false}},\"id_token\":{}}"
  }
}'
WHERE id = 1 and name = 'Esignet';
